<?xml version="1.0" encoding="UTF-8"?>
<plugin
        id="myplugin"
        name="My Plug-in"
        version="1.0"
        provider-name="No Magic"
        class="myplugin.Main">

    <requires>
        <api version="1.2"/>
    </requires>

    <runtime>
        <library name="myplugin.jar"/>
    </runtime>

</plugin>